GENERATE_SOURCEMAP=false
DISABLE_ESLINT_PLUGIN=true

# EmailJS
VITE_SERVICE_ID=your_service_id
VITE_TEMPLATE_ID=your_template_id
VITE_PUBLIC_KEY=your_public_key

# Chatwoot (optional)
VITE_CHATWOOT_BASE_URL=
VITE_CHATWOOT_WEBSITE_TOKEN=
